:root {
    --max-width: 1500px;
    --menu-height: 55px;
    --verticle-padding: 5px;
    --horizontal-padding: 15px;
    --mobileMenuWidth: 500px;
    --footer-height: 50px
}

body {
    margin: 0px;
    font-family: 'Rubik';
    background-color: white;
}

.MenuContainer {
    height: var(--menu-height);
    border-bottom: 3px solid #c6cabf;
    padding: var(--verticle-padding) var(--horizontal-padding);
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;
    background-color: white;
}

.MenuInnerContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
}

.MenuNameContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #2a3337;
}

.MenuItemsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
}

.MenuItem {
    padding: 0px 25px;
    font-weight: bold;
    cursor: pointer;
}

.MenuButtonContainer {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.MenuButton {
    background-color: white;
    padding: 5px 10px;
    outline: 0px !important;
    border: 2px solid #2a3337;
    color: #2a3337;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin: 0px 10px;
}

.MenuButtonsContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuButton:active {
    background-color: rgb(221, 221, 221);
}

.MenuMobileButtonContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MobileMenuContainer {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.MobileMenuContainer .MenuItem {
    padding: 20px 0px;
    text-align: center;
}

.MobileMenuContainer.open {
    left: 0;
}

.FooterSection {
    border-top: 3px solid #c6cabf;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--footer-height);
    background-color: white;
}

.FooterSection a {
    display: block;
    padding: 0px 10px;
}

.MainContentSection {
    height: calc(100vh - (var(--menu-height) + 3px + var(--verticle-padding) + var(--verticle-padding)));
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainContentSectionContainer{
    height: calc(100vh - (var(--menu-height) + 3px + var(--verticle-padding) + var(--verticle-padding) + 20px + 20px));
    width: calc(100% - (var(--horizontal-padding) * 2));
    display: flex;
    justify-content: center;
    align-self: center;
}

.ModalImageContainer{
    max-width: 50%;
    max-height: 100%;
}

.ModalImage{
    max-width: 100%;
    max-height: 100%;
}

.MainContentDataContainer{
    max-width: 50%;
    max-height: 100%;
    flex-grow: 1;
}

.ServicesContentSection{
    background-color: #2c363f;
    padding: 20px var(--horizontal-padding);
}

.ServicesContentSectionContainer{
    max-width: var(--max-width);
}

@font-face {
    font-family: Rubik;
    src: url(/Rubik.ttf);
}

@media only screen and (max-width: 800px) {
    .MenuItemsContainer {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .MobileMenuContainer {
        display: none;
    }

    .MenuMobileButtonContainer {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}